header#page-header
  nav#navbar
    span.nav-left
      div.tou-img
        img(src=theme.avatar)
      a#site-name(href=url_for('/')) #[=config.title]
    i.fa.fa-bars.toggle-menu.nav-right(aria-hidden="true")

    if(page.title && page.type != "about")
      span.title= page.title

    span.nav-right.menus
      each url, label in theme.menu
        a.site-page(href=url)= label
