<%
const showToc = is_post() && theme.toc.enable;
let tocNumber;
if (page.toc_number !== undefined) tocNumber = page.toc_number;
else if (theme.toc.number !== undefined) tocNumber = theme.toc.number;
else tocNumber = false;
let currentPageType = is_post()
  ? 'post'
  : is_home()
  ? 'index'
  : 'other';
let display = 'false';
const sidebar_display = theme.sidebar.display || 'post';
if (
  currentPageType === sidebar_display ||
  sidebar_display === 'all' ||
  (currentPageType !== 'index' && sidebar_display === 'index-none') ||
  (currentPageType !== 'post' && sidebar_display === 'post-none')
) {
  if (showToc) display = 'true';
}
if (theme.sidebar.display === 'hidden') {
  display = 'false';
}
%>
<div id="sidebar" class="<%= display === 'true' ? 'is-open' : '' %>" data-display="<%= display %>">
  <% if (showToc) { %>
    <div class="sidebar-toc">
      <div class="sidebar-toc__title"><%= theme.sidebar.catalog %></div>
      <div class="sidebar-toc__content"><%- toc(page.content, { list_number: tocNumber }) %></div>
    </div>
  <% } %>
</div>
