extends includes/layout.pug

block content
  if page.type === 'about'
    article#about
      h1.about-title= page.title
      #post-content.article-container!= page.content
    include includes/partial/pagination.pug
