extends includes/layout.pug

block content
  article#post.article-entry
    h1= page.title
    != page.content
    if (theme.reward.enable)
        .qr-code
        img.qrcode-img(src=(theme.reward.alipay))
        .qrcode-desc='微信打赏'
    .post-tag-list='标签: '
       each item in page.tags.data
          a(href=url_for(item.path)).post-tags #[=item.name]
    include includes/partial/pagination.pug
    include includes/comments/index.pug
