extends includes/layout.pug

block content
  article#post
    include ./includes/partial/sidebar.pug
    #post-content.article-container!= page.content
    if (theme.reward.enable)
        .qr-code
        img.qrcode-img(src=(theme.reward.alipay))
        .qrcode-desc='微信打赏'
    include includes/partial/pagination.pug
    include includes/comments/index.pug
