// Colors
$color-white-light = #f8f8f8;
$color-white = #FFFFFF;
$color-white-dark = #fafafa;
$color-grey-light = #EEEEEE;
$color-grey = #dfe2e5;
$color-grey-dark = #999;
$color-black-light = #4C4948;
$color-black = #242424;
$color-black-dark = #000000;
$color-blue-light = #95d1f7;
$color-blue = #2aa3ef;
$color-green-light = #69ba6d;
$color-green = #17BF63;
$color-green-dark = #53a19f;
$color-yellow-light = #f1fdde;
$color-yellow = #FFAD1F;
$color-orange = #F45D22;
$color-purple = #794BC4;
$color-blockquote-default = #6a737d;
// $color-link = #7a9eb8
$color-link = #6190e8;
$a-hover-color = #82AAFF;
$color-border = #ddd;
$color-img-border = #eaeefb;

// Theme Global Color
$theme-color = $color-black;
$theme-header-color = $color-black;
$theme-footer-color = $color-black;
$theme-body-color = $color-grey-light;
$theme-header-text-color = $color-grey-light;
$theme-footer-text-color = $color-grey-light;

// Fonts
$font-sans = -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-mono = 'Source Code Pro', Consolas, Monaco, Menlo, Consolas, monospace;
$code-font = consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace, Helvetica Neue For Number;
$font-family = Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size = 14px;

// Global Variables
$rem = 20px;
$text-line-height = 2;
$line-height = 1.6em;
$line-height-title = 1.1em;

// page
$content-width = 700px;
$iframe-height = (700 / 16 * 9)px;
$content-large-width = 900px;
$iframe-large-height = (900 / 16 * 9)px;
$img-border-padding = 4px;

// Header
$logo-size = 40px;
$subtitle-size = 16px;
$banner-height = 300px;

// Layout
$block-margin = 50px;
$article-padding = 20px;

// Media queries
$sm = 768px;
$bg = 1024px;
$md = 1300px;
$lg = 1450px;
