<% var cover_img = theme.home.cover_img || ''; %>
<% var cover_style = cover_img ? 'background-image: url(' + url_for(cover_img) + ')' : ''; %>
<div class="moments-profile" id="nav">
  <div class="moments-cover" style="<%= cover_style %>">
    <div class="moments-cover-content">
      <%- partial('includes/shell/header-bar', { coverHeader: true }) %>
    </div>
  </div>
</div>
