#gitalk-container {
  border-top: 1px solid $color-border;
  margin-top: 30px;
  padding-bottom: 1.5rem;

  .gt-comments {
    padding-top: 0.5em;
  }

  .gt-comments-null {
    margin: 0;
    padding-bottom: 0.25em;
    color: $wechat-text-hint;
  }

  // .gt-btn.gt-btn-preview {
  //   color: $theme-color;
  //   border-color: $theme-color;
  // }

  // .gt-container .gt-svg svg {
  //   fill: $theme-color;
  // }

  // .gt-btn.gt-btn-login, .gt-btn.gt-btn-loadmore, .gt-btn.gt-btn-public {
  //   background-color: $theme-color;
  //   border-color: $theme-color;
  // }
}
