doctype html
html(lang=config.language)
  head
    include ./partial/head.pug

  body
    include ./partial/header.pug
    article#content-outer
      section#content-inner
        if body
          div!= body
        else
          block content

    include partial/footer.pug
    i.fa.fa-arrow-up#go-up(aria-hidden="true")
  each item in theme.cdn.js
    if item !== undefined
      script(src=url_for(item))
  if theme.scripts !== undefined && theme.scripts.length > 0
    each url in theme.scripts
      script(src=url defer)
