if body
  div!= body
else
  include ./mixins/article-sort.pug
  aside#sidebar
    div.author-img
      img(src="/img/tou.jpg")
    div.author-info
      if(theme.author)
        h1.author= theme.author
      if(theme.social)
        #site-social-icons
          each url, icon in theme.social
            a.social-icon(href=url target="_blank")
              i(class="fa-" + icon + " fa" )
  article#archive
    +articleSort(page.posts)
