#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 10px 5%;
  position: fixed;
  top: 0;
  z-index: 100;
  font-size: 20px;
  background-color: $theme-header-color;

  .nav-left {
    display: flex;
    align-items: center;

    .tou-img {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid $color-white;

      img {
        width: 100%;
      }
    }
  }

  .title {
    color: $theme-header-text-color;
  }

  .toggle-menu {
    display: none;
    padding-top: 0.5rem;
    color: $theme-header-text-color;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $theme-header-text-color-active;
    }
  }

  a {
    color: $theme-header-text-color;

    &:hover {
      color: $theme-header-text-color-active;
    }
  }

  #site-name {
    font-weight: bold;
    cursor: pointer;
  }

  .site-page {
    margin: 0 1rem;
    font-size: 0.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: $sm) {
  #navbar {
    padding: 10px 0.8rem;

    .toggle-menu {
      display: block;
    }

    .title {
      display: none;
    }

    .menus {
      position: absolute;
      top: 3rem;
      right: 0.8rem;
      display: none;
      width: 8rem;
      background-color: alpha($color-white, 0.9);

      a {
        display: block;
        margin-left: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 0.6rem;
        color: $color-black-light;
        text-shadow: none;
        font-size: 0.8rem;

        &:hover {
          color: $color-black-dark;
        }
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $bg) {
  #navbar {
    padding: 10px 3%;
  }
}
