// Home
#content-outer {
  width: 100%;
  padding-top: 1rem;
  margin: 3rem 0 1rem 0;
  position: relative;

  height calc(100vh- 100px) {
    ul, ol, dl {
      margin-top: 0.4rem;
      padding: 0 0 0 0.8rem;
    }
  }
}

#sidebar {
  width: 25vw;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  .author-img {
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
    }
  }

  .author-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .author {
      font-size: 20px;
    }
  }
}

#about, #archive {
  margin: auto;
  padding-bottom: 1rem;
  color: $color-black-dark;
}

// About
#about {
  min-height: 20rem;

  .about-title {
    font-size: 2rem;
  }

  .article-container {
    p:nth-of-type(1) {
      width: 100%;
      margin: auto;
      position: relative;

      img {
        width: 20vw;
      }
    }
  }
}

// Archive
#archive {
  margin-left: 25vw;

  .article-title {
    font-size: 2rem;
  }

  .article-sort {
    &-item {
      position: relative;

      &.year {
        margin-left: 0;
        font-size: 1.2rem;
        font-weight: bold;

        &:hover {
          &:before {
            border-color: $color-black-dark;
          }
        }

        &:before {
          border: none;
        }
      }

      &__time {
        position: absolute;
        color: $color-black-light;
      }

      &__title {
        display: block;
        margin-left: 5rem;
        cursor: pointer;
        color: $color-black-light;
      }
    }

    a {
      &:hover, &:before {
        color: $color-black-dark;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

#site-social-icons {
  .social-icon {
    margin: 0 0.5rem;
    color: $color-black-dark;
    font-size: 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: $sm) {
  #sidebar {
    width: 100vw;
  }

  #archive {
    margin-left: 0;
  }
}