// Home
#content-outer {
  width: 100%;
  padding-top: 80px;
  margin-bottom: 1rem;
  position: relative;

  #content-inner {
    padding-bottom: 3rem;

    ul, ol, dl {
      margin-top: 0.4rem;
      padding: 0 0 0 0.8rem;
    }
  }

  #recent-posts {
    margin: auto;
    padding: 2rem;

    .recent-post-item {
      background-color: $color-white;
      margin-bottom: 3rem;
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);

      &:hover {
        -webkit-box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.2);
      }

      .post-title {
        a {
          font-size: 1.5rem;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          -ms-transition: all 0.1s ease-in-out;

          &:hover {
            color: $color-black-dark;
          }
        }
      }

      .post-time, .recent-post-tags, .post-tag {
        color: $color-grey-dark;
        margin-right: 10px;
      }

      blockquote {
        margin: 5px 0;
        border-left: 0.25em solid $color-grey;
        color: #6a737d;
        padding: 0 1em;
      }

      .recent-post-content {
        img, video, audio {
          width: 100%;
        }
      }

      .read-more {
        display: flex;
        justify-content: flex-end;

        .read-more-btn {
          font-size: 15px;
          text-align: center;
          background-color: $color-black-light;
          -webkit-transition: background-color 0.2s ease-in-out;
          -moz-transition: background-color 0.2s ease-in-out;
          -o-transition: background-color 0.2s ease-in-out;
          -ms-transition: background-color 0.2s ease-in-out;
          border-radius: 16px;
          line-height: 2;
          width: 5rem;
          margin: 10px 0;
          padding: 0 17px;

          &:hover {
            cursor: pointer;
            background-color: $color-black-dark;
          }
        }

        a {
          color: $color-white;
        }
      }
    }
  }
}

#about, #archive {
  margin: auto;
  padding: 10px 10px 10px 10px;
  color: $color-black-dark;
}

// About
#about {
  min-height: 20rem;

  .about-title {
    font-size: 2rem;
  }

  .article-container {
    p:nth-of-type(1) {
      width: 100%;
      margin: auto;
      position: relative;

      img {
        width: 20vw;
      }
    }
  }
}

// Archive
#archive {
  // margin-left: 25vw;
  // width: 75vw;
  .article-title {
    font-size: 2rem;
  }

  .article-sort {
    &-item {
      position: relative;

      &.year {
        margin-left: 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: $theme-color;

        &:hover {
          &:before {
            border-color: $color-black-dark;
          }
        }

        &:before {
          border: none;
        }
      }

      &__time {
        position: absolute;
        color: $color-black-light;
      }

      &__title {
        display: block;
        margin-left: 5rem;
        cursor: pointer;
        color: $color-black-light;
      }
    }

    a {
      &:hover, &:before {
        color: $color-black-dark;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

#site-social-icons {
  margin: 0 auto;
  width: 15rem;
  text-align: center;

  .social-icon {
    margin: 0 0.5rem;
    color: $color-light-black;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    cursor: pointer;
  }
}
