#pagination
  margin-top: -20px

  .pagination
    text-align: center

    .page-number
    .extend
      display: inline-block
      background-color: $color-white
      -webkit-transition: all .2s ease-in-out
      -moz-transition: all .2s ease-in-out
      -o-transition: all .2s ease-in-out
      -ms-transition: all .2s ease-in-out
      -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      color: black
      height: 1.6rem
      width: 1.6rem
      line-height: 1.6rem
      margin: 0 0.2rem
      cursor: pointer

      &:hover
        background-color: $color-light-black
        color: $color-white

    .extend
      width: 3rem
      padding: 0 5px

    .current
      background-color: $color-black
      color: $color-white
      cursor: default
