$base-style {
  h1 {
    font-size: 2em;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-border;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 1em;
    color: $color-grey-dark !important;
  }

  hr {
    border: 1px solid $color-border;
  }

  strong {
    font-weight: bold;
  }

  em, cite {
    font-style: italic;
  }

  sup, sub {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.2em;
  }

  small {
    font-size: 0.85em;
  }

  acronym, abbr {
    border-bottom: 1px dotted;
  }

  ul, ol, dl {
    margin-top: 0.4rem;
    padding: 0 0 0 0.8rem;
    list-style: none;
  }

  ul, ol {
    ul, ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  dt {
    font-weight: bold;
  }
}

#post {
  @extend $base-style;
  clearfix();
  margin: auto;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $color-black-dark;
    line-height: $line-height-title;
    margin: $line-height-title 0;
    cursor: pointer
  }

  a {
    color: $color-blue;

    &:hover {
      color: $color-blue-dark;
    }
  }

  table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0;

    th {
      font-weight: bold;
      border: 2px solid $color-border;
      text-align: left;
      padding: 0 10px;
    }

    td {
      border: 2px solid $color-border;
      padding: 0 10px;
    }
  }

  img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
  }

  iframe {
    border: none;
  }

  blockquote {
    margin: 5px 0;
    border-left: 0.25em solid $color-grey;
    color: #6a737d;
    padding: 0 1em;
  }

  .pullquote {
    text-align: left;
    width: 45%;
    margin: 0;

    &.left {
      margin-left: 0.5em;
      margin-right: 1em;
    }

    &.right {
      margin-right: 0.5em;
      margin-left: 1em;
    }
  }

  .caption {
    color: $color-grey;
    display: block;
    font-size: 0.9em;
    margin-top: 0.5em;
    position: relative;
    text-align: center;
  }

  .video-container {
    position: relative;
    padding-top: (9 / 16 * 100)%; // 16:9 ratio
    height: 0;
    overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-top: 0;
    }
  }
}

.qrcode-img {
  width: 10rem;
}

.qrcode-desc {
  text-align: center;
  font-weight: bold;
}

.post-tags {
  display: inline-block;
  margin: 0.4rem;
  padding: 0 0.5rem;
  border: 1px solid $color-black-light;
  border-radius: 0.3rem;
  background-color: $color-white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: $color-black !important;

  &:hover {
    background: $color-black-dark;
    color: $color-white !important;
  }
}