#sidebar {
    position: fixed;
    top: 0;
    width: $sidebar-width;
    left: -300px;
    z-index: 10;
    overflow-y: auto;
    padding: 5px;
    height: 100%;
    background-color: $color-white-dark;

    .sidebar-toc {
        font-size: 12px;

        a {
            color: $color-black-light;

            &:hover {
                color: $color-blue-dark;
            }
        }

        ol, li {
            list-style: none;
        }

        ol {
            margin-top: 0.2rem;
            padding-left: 0.4rem;
        }

        &__title {
            padding-right: 0.5rem;
            text-align: center;
            font-weight: 500;
            font-size: unit(0.9 * $rem, 'px');
            color: $color-black-dark;
        }

        .toc-link {
            display: block;
            padding-left: 0.2rem;
            border-right: 3px solid transparent;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.active {
                color: $color-black-dark;
                font-weight: bold;
            }
        }
    }
}
